.ligth {
  background-color: #fff;

  .header {
    width: 180px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-right: 1px solid #111111;
    transition: 0.5s;
    .logo {
      display: flex;
      gap: 10px;
      justify-content: center;
      align-items: center;
    }
    .title-logo {
      color: #000;
    }
    .navbar {
      width: 100%;
      .lista-nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        li {
          width: 150px;
          display: flex;
          align-items: center;
          gap: 10px;

          .ruta {
            text-decoration: none;
            font-size: 20px;
            cursor: pointer;
            color: #1a6dff;
            font-weight: bold;
            &:hover {
            color: #4a8cff;
              transition: color .5s;
            }
          }
          .login {
            font-size: 16px;
            color: #00a800;
          }
        }
      }
    }
    .imgTheme {
      cursor: pointer;
    }
  }
}

.dark-menu {
  background-color: #232730;
  .header {
    border-right: 1px solid #fff;
    .logo {
      .title-logo {
        color: #fff;
      }
    }
  }
  .navbar {
    .lista-nav {
      li {
        .ruta {
          color: #68b6e6;
        }
        .login {
          color: #51f633;
        }
      }
    }
  }
}

.toggle-switch {
  position: relative;
  width: 100px;
  height: 50px;
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 50px;
  background-color: var(--dark);
  border-radius: 25px;
  cursor: pointer;
  border: 3px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(50px);
  -ms-transform: translateX(50px);
  transform: translateX(50px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}
