.ruta-notas {
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  background-color: #fff;
  .form-nota {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    gap: 10px;
    padding: 20px;
    background-color: #dcdcdc;
    border-radius: 10px;
    .div-input {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 5px;
      &::placeholder {
        font-size: 18px;
      }
      label {
        font-weight: 500;
      }
      .input-nota {
        padding: 10px;
        font-size: 16px;
        outline: none;
        border: 1px solid #414141;
        background-color: transparent;
        border-radius: 10px;
        font-weight: 500;

        &::placeholder {
          font-size: 18px;
          color: #000;
        }
      }
    }
    .textarea {
      resize: none;
      font-size: 16px;
      padding: 10px;
      outline: none;
      border: 1px solid #414141;
      background-color: transparent;
      color: #000;
      border-radius: 10px;
      &::placeholder {
        color: #000;
      }
    }
    .btn-nota {
      width: 100%;
      border: 1px solid #000;
      padding: 12px;
      font-size: 16px;
      font-weight: bold;
      border-radius: 10px;
      background-color: #313131;
      color: #fff;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        background-color: #000;
        color: #fff;
      }
    }
  }

  .section-notas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 16px;
    background-color: #fff;
    .container-nota {
      width: 500px;
      height: 300px;
      word-wrap: break-word;
      padding: 10px;
      background-color: #e5e7f8;
      box-shadow: 0 0 8px #000;
      border-radius: 10px;
      display: grid;
      gap: 5px;
      overflow-y: hidden;
      
      .eliminar-nota {
        width: 30px; 
        height: 30px;
        border: none;
        font-size: 25px;
        background: none;
        cursor: pointer;
        text-align: start;
      }

      .titulo-nota {
        text-align: center;
        font-size: 22px;
        color: #2d85cc;
        word-wrap: break-word;
      }

      .titulo-fecha {
        font-size: 18px;
        color: #00c3ff;
      }
      .fecha-nota {
        font-weight: 500;
        color: #000;
      }

      .div-nota {
        width: 100%;
        height: 170px;
        overflow-y: auto;
        border-radius: 10px;
        word-wrap: break-word;
        .p-nota {
          font-size: 18px;
          font-weight: 700;
          color: #000;
        }
      }
    }
  }
  .title-sin-notas {
    font-size: 35px;
    padding: 20px;
  }

  &.dark-notas {
    background-color: #16181d;
    .form-nota {
      background-color: #000;
      .div-input {
        label {
          color: #fff;
        }
        .input-nota {
          color: #fff;
          &::placeholder {
            color: #858585;
          }
        }
      }

      .btn-nota {
        background-color: #313131;
        color: #807f7f;
        border: 1px solid #ffffff;
        &:hover {
          color: #313131;
          background-color: #fff;
        }
      }
    }
    .section-notas {
       background-color: #16181d;

      .container-nota {
        background-color: #2a2f3a;
        box-shadow: 0 0 3px #fff;
        border: 1px solid #fff;
        .titulo-nota {
          color: #ffffff;
        }
        .fecha-nota {
          color: #fff;
        }
        .eliminar-nota {
          color: #fff;
        }
        .titulo-fecha {
          color: #00c3ff;
        }
        .div-nota {
          .p-nota {
            color: #9e9c9c;
          }
        }
      }
    }
    .title-sin-notas {
      color: #fff;
    }
  }

  .title-sin-notas {
    color: #000;
  }
}
