.light {
  width: 100%;
}
.ruta-favoritos {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  overflow-y: auto;
  gap: 20px;
  transition: 0.5s;
  padding-top: 70px;
  &.fondo-modal {
    background-color: #000000be;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  .btn-info {
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 0 3px #000000;
    color: #fff;
    background-color: #215a6d;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    &:hover {
      background-color: #1e83a5;
    }
  }
  .container-favoritos {
    width: 150px;
    height: 80px;
    padding: 10px;
    background-color: #ffe4c4;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    transition: 0.5s;

    .eliminar-fav {
      width: 100%;
      height: 5px;
      font-size: 20px;
      border: none;
      background: none;
      text-align: end;
      cursor: pointer;
    }
    .titulo-fav {
      font-size: 22px;
      color: #df7c03;
    }
    .tarea-fav {
      display: none;
    }
    &.modal {
      transition: 0.5s;
      width: 400px;
      height: 300px;
      .eliminar-fav {
        display: none;
      }
      .titulo-fav {
        font-size: 30px;
      }
      .tarea-fav {
        display: flex;
        font-size: 18px;
        font-weight: 500;
        border-radius: 10px;
        width: 100%;
        height: 200px;
        overflow-y: auto;
        background-color: #fff;
        padding: 10px;
      }
    }
  }
  .titulo-sin-favoritos {
    padding: 30px;
    font-size: 30px;
  }
}
.dark-favoritos {
  background-color: #2d2d29;

  .titulo-sin-favoritos {
    color: #fff;
  }
}
