.light {
  width: 100%;
}
.ruta-favoritos {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  overflow-y: auto;
  gap: 20px;
  transition: 0.5s;
  padding-top: 70px;
  color: #fff;
  background-image: linear-gradient(
    to left bottom,
    #1d2027,
    #1c2026,
    #1c1f25,
    #1b1f25,
    #1b1e24
  );
  &.fondo-modal {
    background-color: #000000be;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
  }
  .btn-info {
    border: none;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
    box-shadow: 0 0 2px #fff;
    color: #fff;
    background-color: #1A6DFF;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 200px;
    transition: background-color .5s;
    &:hover {
      background-color: #1a6effbe;
      transition: background-color .5s;
    }
  }
  .container-favoritos {
    width: 150px;
    height: 80px;
    padding: 10px;
    background-color: #8B4513,;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    transition: 0.5s;

    .eliminar-fav {
      font-size: 20px;
      border: none;
      background: none;
      text-align: end;
      cursor: pointer;
    }
    .titulo-fav {
      font-size: 22px;
      color: #fff;
    }
    .tarea-fav {
      display: none;
    }
    &.modal {
      transition: 0.5s;
      width: 400px;
      height: 280px;
      .eliminar-fav {
        display: none;
      }
      .titulo-fav {
        font-size: 30px;
        padding-bottom: 10px;
      }
      .tarea-fav {
        display: flex;
        font-size: 18px;
        font-weight: 500;
        border-radius: 10px;
        width: 100%;
        height: 200px;
        overflow-y: auto;
        background-color: #fff;
        padding: 10px;
      }
    }
  }
  .titulo-sin-favoritos {
    padding: 30px;
    font-size: 30px;
  }
}
.dark-favoritos {
  background-color: #2d2d29;

  .titulo-sin-favoritos {
    color: #fff;
  }
}

@media (max-width: 550px) {
  .ruta-favoritos {
    .container-favoritos {
    width: 100%;
    &.modal {
      width: 100%;

    }
  }
  }
  
}